<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/images/weather.png" type="image/x-icon">
    <title>Express Weather App</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Use this site to get your weather</p>
    </div>
    {{>footer}}
    <script src="js/javascript.js"></script>
</body>

</html>